@import "tailwindcss";

@theme {
  --color-primary: #0f4c81;
  --color-primary-light: #2a69ac;
  --color-primary-dark: #0a365c;
  --color-secondary: #10b981;
  --color-secondary-light: #34d399;
  --color-secondary-dark: #059669;
  --color-surface: #f8fafc;
  --font-sans: 'Inter', 'Roboto', 'sans-serif';
}

body {
  @apply bg-surface text-slate-800 font-sans antialiased;
}
